EC/ECApplicationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:EC" elementFormDefault="qualified" targetNamespace="urn:EC" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="applicatonSection" type="tns:EC.ApplicatonSectionCT" />
	<xs:complexType name="EC.ApplicatonSectionCT">
		<xs:attribute name="host" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The Port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="syncSend" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The SyncSend.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sendThreads" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The SendThreads.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="receiveThreads" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The ReceiveThreads.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="packetAnalyzer" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The PacketAnalyzer.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="messageCenter" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The MessageCenter.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="http" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Http.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="packetMaxsize" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The PacketMaxsize.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="sendQueue" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The SendQueue.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="receiveQueue" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The ReceiveQueue.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
